<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MoneyTrakrEntities" connectionString="metadata=res://*/MoneyTrakrModel.csdl|res://*/MoneyTrakrModel.ssdl|res://*/MoneyTrakrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107d983c-033c-448d-8b99-a090017367f8.sqlserver.sequelizer.com;initial catalog=db107d983c033c448d8b99a090017367f8;persist security info=True;user id=dnjqajdmneiuncvj;password=YCMHgP5T7gAZ877HdWKZ8xcbfdxTgmwmkcURTTgBKKQ34qEHkTTSC8wAALCcqjMU;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>